<header th:fragment="miHeader">
    <nav>
        <a th:href="@{http://localhost:8080/}">INICIO</a>
        <a th:href="@{http://localhost:8080/composer}">COMPOSITORES</a>
        <a th:href="@{http://localhost:8080/pieces}">PIECES</a>
        <!--<a th:href="@{http://localhost:8080/compare-composer}">COMPARE COMPOSER</a>-->
        <a th:href="@{http://localhost:8080/addPiece}">ADD PIECE</a>
        <a th:href="@{http://localhost:8080/addComposer}">ADD COMPOSER</a>
        <a th:href="@{http://localhost:8080/editPiece}">EDIT PIECE</a>
        <a th:href="@{http://localhost:8080/editComposer}">EDIT COMPOSER</a>
    </nav>
</header>