<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Piece Form</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>

    <div class="container">
        <h1>🎶 Select Composer to Edit</h1>

        <header th:replace="~{header.html::miHeader}"></header>

        <div class="add-form">
            <form id="add-form" action="#" method="post" th:action="@{/editComposer/submit}"
                th:object="${composerEdit}">
                <select name="name" required>
                    <option value="">-- Elige un compositor --</option>
                    <option th:each="composer : ${lista}" th:value="${composer.nameComposer}"
                        th:text="${composer.nameComposer}"></option>
                </select>
                <input type="submit" value="Enviar" />
            </form>
        </div>
    </div>

</body>

</html>